 <h1>Reviews for <%= link_to @movie.title, @movie %></h1>

<ul class="reviews">
  <% @reviews.each do |review| %>
    <li>
      <%= render "shared/stars", percent: review.stars_as_percent %>
      <p>
        <%= link_to review.user.name, review.user %>
        <span class="date">
          <%= time_ago_in_words(review.created_at) %> ago
        </span>
      </p>
      <p>
        "<%= review.comment %>"
      </p>
       <p class = "admin">
          <%= link_to("Edit Review", edit_movie_review_path(@movie, review)) %>
      </p>  
    </li>
  <% end %>
</ul>

<%# ADDING ANOTHER "WRITE REVIEW" BUTTON (my own code)%>
<div class="content">
  <section class="movie-details">
    <%= link_to "Write Review", new_movie_review_path(@movie),
      class: "review" %>
  </section>
</div>




